<!--Partial Templates act simliar to utility functions but for HTML-->
<!--Template by Nick Thomas-->
<footer>
    <nav>
        <a href="/UserCreation">Create User Account</a>
        <a href="/UserList">All Users</a>
        <a href="/UserLogin">Login to a specfic User</a>
        <a href="/UserLogout">Log out of current session</a>
        <a href="/VendorCreation">Create a Vendor Account</a>
        <a href="/VendorList">View All Vendors</a>
        <a href="/Home">Home & Search Page</a>
    </nav>
</footer>