html {
  font-size: 30px;
  color: black;
  font-family: "Open Sans", sans-serif;
  background-color: #193498;
}
ul {
  display: table;
  margin: 0 auto;
  list-style-type: none;
  outline-color: black;
  outline-style: solid;
  background-color: #113cfc;
}

a {
  color: black;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: auto;
}

#footer {
  outline-style: solid;
  border-color: black;
  background-color: #1597e5;
  position: absolute;
  bottom: 0;
  height: 70px;
  left: auto;
  right: auto;
}
